<div class="outer-container">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand fw-bold">
                <img src="assets/img/favicon_original.png" alt="title_icon" width="30" height="30"
                    class="d-inline-block align-text-top">
                Weather Now
            </span>
        </div>
    </nav>


    <div class="container pt-4">
        <!-- <div class="upper-data">
            <img src="../assets/img/hot_square.png" *ngIf="14 > 15">
            <img src="../assets/img/cold_square.png" *ngIf="14 <= 15">
        </div>
        <div class="lower-data">

        </div> -->

        <div class="card shadow mx-auto col-lg-5 col-md-6 col-sm-8 col-10">
            <img src="../assets/img/hot_google.png" class="card-img-top">

            <div class="card-img-overlay text-center text-white d-flex flex-column" style="padding-top: 80%;">
                <span class="fs-2 fw-bold " style="text-shadow: 2px 2px 3px rgb(0, 0, 0);"> Image Heading </span>
                <span class="fs-s fw-bold " style="text-shadow: 2px 2px 3px rgb(0, 0, 0);">Image sub Heading</span>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>



    </div>





    <router-outlet></router-outlet>
</div>