<div class="outer-container">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand fw-bold">
                <img src="assets/img/favicon_original.png" alt="title_icon" width="30" height="30"
                    class="d-inline-block align-text-top">
                Weather Now <span class="badge rounded-pill text-primary bg-light">247</span>
            </span>
            <form class="d-flex" #form="ngForm" (ngSubmit)="form.valid&&onSubmit()">
                <input class="form-control me-2" placeholder="Enter City eg: {{cityName}}" aria-label="Enter City"
                    type="text" name="city" #city="ngModel" [(ngModel)]="cityName2" required>
                <button class="btn btn-outline-light fw-bold" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="container pt-4 pb-5">
        <!-- <div class="upper-data">
            <img src="../assets/img/hot_square.png" *ngIf="14 > 15">
            <img src="../assets/img/cold_square.png" *ngIf="14 <= 15">
        </div>
        <div class="lower-data">

        </div> -->

        <div class="card mx-auto col-lg-5 col-md-6 col-sm-8 col-10 p-4" style="box-shadow: 4px 4px 5px rgb(50, 50, 50);"
            *ngIf="weatherData">

            <img src="../assets/img/hot_google.png" class="card-img-top" *ngIf="weatherData.temp > 15">
            <img src="../assets/img/cold_google.png" class="card-img-top" *ngIf="weatherData.temp <= 15">

            <div class="card-img-overlay text-center text-white d-flex flex-column" style="padding-top: 65%;">
                <span class="weather-location fs-4 fw-bold text-capitalize"
                    style="text-shadow: 2px 2px 3px rgb(0, 0, 0);"> {{cityName}}
                </span>
                <span class="weather-temperature fs-1 fw-bolder"
                    style="text-shadow: 2px 2px 3px rgb(0, 0, 0);">{{weatherData.temp}}°C</span>
            </div>
            <div class="card-body p-0">
                <div class="more-info-label text-primary h4 fw-bold py-2">
                    More Info
                </div>
                <div class="more-info-container col d-flex flex-row flex-wrap ">

                    <div class="info-block w-50 d-flex flex-row pb-3">
                        <div class="info-block-label w-50 d-flex flex-column justify-content-center align-items-center">
                            <img src="../assets/img/max_temp.png" style="width: 40px; height: 40px;" alt="">
                            <span class="h6">max</span>
                        </div>
                        <div class="info-block-value w-50 d-flex justify-content-start align-items-center h6">
                            {{weatherData.max_temp}}°C
                        </div>
                    </div>

                    <div class="info-block w-50 d-flex flex-row pb-3">
                        <div class="info-block-label w-50 d-flex flex-column justify-content-center align-items-center">
                            <img src="../assets/img/min_temp.png" style="width: 40px; height: 40px;" alt="">
                            <span class="h6">min</span>
                        </div>
                        <div class="info-block-value w-50 d-flex justify-content-start align-items-center h6">
                            {{weatherData.min_temp}}°C
                        </div>
                    </div>

                    <div class="info-block w-50 d-flex flex-row pb-3">
                        <div class="info-block-label w-50 d-flex flex-column justify-content-center align-items-center">
                            <img src="../assets/img/Humidity.png" style="width: 40px; height: 40px;" alt="">
                            <span class="h6">humidity</span>
                        </div>
                        <div class="info-block-value w-50 d-flex justify-content-start align-items-center h6">
                            {{weatherData.humidity}}%
                        </div>
                    </div>

                    <div class="info-block w-50 d-flex flex-row pb-3">
                        <div class="info-block-label w-50 d-flex flex-column justify-content-center align-items-center">
                            <img src="../assets/img/windy_icon.jpg" style="width: 40px; height: 40px;" alt="">
                            <span class="h6">wind</span>
                        </div>
                        <div class="info-block-value w-50 d-flex justify-content-start align-items-center h6">
                            {{weatherData.wind_speed}} m/s
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>

    <router-outlet></router-outlet>


    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 mt-auto">
            <div class="col-md-4 d-flex align-items-center">
                <div class="mb-3 me-1 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="20" width="20" fill="#999999">
                        <path
                            d="M185.7 268.1h76.2l-38.1-91.6-38.1 91.6zM223.8 32L16 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7zM354 373.8h-48.6l-26.2-65.4H168.6l-26.2 65.4H93.7L223.8 81.5z" />
                    </svg>
                </div>
                <span class="mb-3 mb-md-0 text-muted">Project developed by Sachin Varghese</span>
            </div>
        </footer>
    </div>
</div>